*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}
input::placeholder{
    border-color: #151515;
    padding: 17px 156px 16px 20px;
}
input{
    width: 550px;
    height: 60px;
    background-color: #151515;
}
.container{
    max-width: 1411px;
    margin: auto;
}
main{
    background-color: #151515;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -170px;
}
.background{
    background-image: url(images/kolezey.jpg);
    background-size: cover;
    padding-top: 336px;
    padding-bottom: 331px;
    text-align: center;
}
.kostel{
    background-image: url(images/kostel.jpg);
    margin-bottom: 23px;
}
.hram{
    background-image: url(images/hram.jpg);
    margin-bottom: 23px;
}
.bashna{
    background-image: url(images/bashna.jpg);
    margin-bottom: 23px;
}
.big-ban{
    background-image: url(images/big-ban.jpg);
    margin-bottom: 23px;
}
.menu >div{
    width: 330px;
    height: 412px;
    position: relative;
}
.country{
    background-color: black;
    border-radius: 8px;
    padding: 4px 11px 5px 12px;
    margin: auto;
    position: absolute;
    right: 8px;
    top: 8px;
    color: white;
}
.title{
    position: absolute;
    bottom: 26px;
    left: 15px;
    right: 15px;
    text-align: center;
    color: white;
}
.title3{
    color:  white;
    text-align: center;
    padding-top: 89px;
    padding-left: 15px;
}
.name{
    font-size: 25px;
    font-weight: bold;
}
.name2{
    width: 87%;
    font-size: 40px;
    font-weight: bold;
}
.menu2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.park{
    background-image: url(images/park.jpg);
    margin-top: 35px;
    margin-bottom: 29px;
}
.kutammaku{
    background-image: url(images/kutammaku.jpg);
    margin-top: 35px;
    margin-bottom: 29px;
}
.sobor{
    background-image: url(images/sobor.jpg);
}
.cake{
    background-image: url(images/cake.jpg);
}
.menu2 >div{
    width: 690px;
    height: 540px;
    position: relative;
}
.title2{
    position: absolute;
    bottom: 124px;
    left: 32px;
    right: 126px;
    color:white
}
.vandals{
    padding-left: 53px;
    padding-top: 87px;
    font-size: 26px;
}
span{
    color: #28783E;
}
.solving{
    padding-left: 53px;
    padding-top: 46px;
    font-size: 26px;
}
.reason{
    color: #B9B9B9;
}
.tablet{
    background-color: #E2BC32;
    border-radius: 8px;
    padding: 17px 36px 17px 37px;
    margin: auto;
    position: absolute;
    left: 30px;
    bottom: 38px;
    color: black;
}
p{
    color: white;
}
.help{
    padding-left: 15px;
}
.menu3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tablet2{
    background-image: url(images/tablet.jpg);
    margin-top: 46px;
}
.cameras{
    background-image: url(images/cameras.jpg);
    margin-top: 46px;
}
.text{
    width: 690px;
    margin-top: 18px;
    font-size: 26px;
}
.text2{
    width: 690px;
    margin-top: 18px;
    font-size: 26px;
}
.menu3 >div{
    width: 690px;
    height: 500px;
    position: relative;
}
.menu4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.barrier{
    background-image: url(images/barrier.jpg);
}
.zabor{
    background-image: url(images/zabor.jpg);
}
.menu4 >div{
    width: 690px;
    height: 500px;
    position: relative;
}
.menu5{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.security{
    background-image: url(images/security.jpg);
}
.watchman{
    background-image: url(images/watchman.jpg);
}
.menu5 >div{
    width: 690px;
    height: 500px;
    position: relative;
}
.secondary1{
    color: #E2BC32;
    margin-top: 86px;
    padding-bottom: 46px;
    padding-left: 53px;
}
.secondary2{
    color: #E2BC32;
    margin-top: 49px;
    padding-bottom: 46px;
}
.secondary3{
    color: #E2BC32;
    padding-top: 97px;
    padding-bottom: 46px;
    padding-left: 53px;
}
.secondary4{
    margin-top: 38px;
    font-size: 26px;
}
.secondary5{
    margin-top: 38px;
    font-size: 26px;
    padding-bottom: 50px;
}
